# linux 
.directory
*~
*.swp
*.kate-swp
*.kilepr

# useless latex files
*.toc
*.log
*.bbl
*.blg
*.out
*~
*.aux
*.gz
*.backup

# don't upload .pdf to avoid overloading git
*.pdf

#useless eclipse files
.settings/
project/bin/

#java
*.class
